.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(76, 76, 76), rgb(35, 35, 35));
    padding-inline: 10px;
    min-height: 65px;
    color: white;
    flex-wrap: nowrap;
}
.header h1{
    font-size: 35px;
    color:rgb(220, 220, 220);
}
.header .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: fill;
    flex-wrap:nowrap;
}
.header .left p{
    all: unset;
    color: var(--secondaryColor);
}
.header .left .nav_link:hover{
    scale: (1.1);
}

.header button{
    all:unset;
}
.header button.login:hover{
    text-decoration:underline;
}
.header .login_register_containter{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 10px;
}
.header button.register{
    color: rgb(56, 56, 56);
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background-color: var(--secondaryColor);
}
.header button.register:hover{
    filter: brightness(90%);
}