:root{
}

*::selection {
  background: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
}
.preventSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.noScrollBar {
-ms-overflow-style: none;
scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}



.nav_link {
  text-decoration: none;
  color: black;
}
.nav_link .pfp{
  width: fill;
  height: fill;
  background-size: 'cover';
  background-position: 'center';
  background-repeat: 'no-repeat';

  background-color: rgb(202, 202, 202);
}
.pfpContainer{
  width: fit-content;
  height: fit-content;
}

