
*::selection {
  background: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
}
.preventSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.noScrollBar {
-ms-overflow-style: none;
scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}