::selection {
  background: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
}

.preventSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.noScrollBar {
-ms-overflow-style: none;
scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}