.bigBox{ 
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
}

.inputBox{
    max-width: 600px;
    min-width: 600px;
    border-radius: 10px;
    min-height: 450px; 
    max-height: 450px;
    background-color: var(--mainColor);
    opacity: 1;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;

    color: white;
}
.inputBox .logo{
    margin-top: 40px;
    margin-bottom: 20px;

}
.inputBox .switchButtons{
    margin-bottom: 20px;
}
.inputBox .switchButtons button{
    border: none;
    background: transparent;
    outline: none;    
    color: var(--secondaryColor);
    font-size: larger;
    opacity: 0.4;
    transition: opacity 500ms;
}

.inputBox .switchButtons button.active{
    opacity: 1;
    border-bottom: 2px var(--secondaryColor) solid;
}

.inputBox form{
    width: fill;
    height: fill;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.inputBox input[type=text],
.inputBox input[type=password] {
    width: 98%;
    padding: 10px;
    margin:6px;
    border-radius: 5px;
    border: none;
    background-color: rgb(117, 105, 92);
    font-size: large;
}

::placeholder {
    color: white;
    opacity: 1;
}

.inputBox .passwordContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inputBox div[type=submit] {
    all:unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    margin: auto;
    color:black;
    border-radius: 8px;
}
.inputBox div[type=submit]:hover {
    background-color: rgb(210, 188, 21);
}
.inputBox div[type=submit]:active {
    background-color: rgb(255, 0, 0);
}

.inputBox .operation_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px rgb(220, 226, 24) solid;
    padding: 3px;
    padding-top: 3px;
    margin-top: 20px;
}
.inputBox .operation_container input[type='checkbox']{
    scale: 1.5;
    margin: 5px;
    background-color: transparent;
    background-color: black;
}

.inputBox .operation_container button{
    all: unset;
    font-size: small;
    height: auto;
    width: auto;
    padding: 3px;
}

.inputBox .operation_container button:hover{
    background-color: rgba(128, 128, 128, 0.429);
}
